@model ProductOwner

<tr class="table table-bordered table-striped">
    <td>@Model.ProductOwnerId</td>
    <td>@Model.Username</td>
    <td>@Model.FirstName @Model.LastName</td>
    <td>@Model.EMail</td>
    <td class="text-center">
        <a class="btn btn-sm btn-info" asp-action="Details" asp-route-id="@Model.ProductOwnerId">Details</a>
        <a class="btn btn-sm btn-warning" asp-action="Edit" asp-route-id="@Model.ProductOwnerId">Edit</a>
        <a class="btn btn-sm btn-danger" asp-action="Delete" asp-route-id="@Model.ProductOwnerId">Delete</a>
    </td>
</tr>

