@model Product

<div>
    <table class="table table-bordered table-striped">
        <tbody>
            <tr>
                <td rowspan="3" class="col-2">
                    @if (Model.Game!.ImageLink != "")
                    {
                        <img class="game-thumbnail" src="@Model.Game.ImageLink" />
                    }
                    else
                    {
                        <img class="game-thumbnail" src="https://picsum.photos/100" />
                    }
                </td>
                <td><lable>Title: </lable></td>
                <td>@(Model.Name)</td>
            </tr>
            <tr>
                <td><label for="Description">Description</label></td>
                <td><p>@(Model.Game.GameDescription)</p></td>
            </tr>
            <tr>
                <td><label for="Price">Price</label></td>
                <td>@(Model.Price.ToString("c"))</td>
            </tr>
            <tr>
                <td class="text-center">
                    <a asp-action="Details" asp-route-id="@Model.ProductId" class="btn btn-sm btn-info">Details</a>
                    @if
                    (
                        Context.Request.Cookies["User"] != null
                        && Model.ProductOwner?.Username == Context.Request.Cookies["User"]
                    )
                    {
                        <a asp-action="Edit" asp-route-id="@Model.ProductId" class="btn btn-sm btn-warning">Edit</a>
                        <a asp-action="Delete" asp-route-id="@Model.ProductId" class="btn btn-sm btn-danger">Delete</a>
                    }
                </td>
            </tr>
        </tbody>
    </table>
</div>
